@import "tailwindcss";

@theme inline {
  --color-background-main: #1B1A1A;
  --color-text-main: #DFDFDF;
  --color-subtext: #979292;
  --font-protest: "Protest Revolution", sans-serif;
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  font-family: var(--font-protest);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.protest-revolution-regular {
  font-family: var(--font-protest);
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-glow {
    /* Blur 21.9px, Color #B59E9E, Opacity 47% */
    text-shadow: 0px 0px 21.9px rgba(181, 158, 158, 0.47);
  }

  .card-glow {
    /* Desplazamiento en Y modificado, intensidad y spread reducidos */
    box-shadow: 0px 20px 20px 40px rgba(123, 123, 123, 0.03);
  }
}